body {
  font-family: Georgia, 'Times New Roman';
  background-color: #86bef5; 
  margin: 0;
  padding: 0;
  text-align: center;
}

.company-title {
  font-family: "Georgia", serif;
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #1f3a5f;
  letter-spacing: 1px;
}


form {
  background-color: #ffffff;
  width: 700px;
  height:600px;
  margin: 25px auto;
  padding: 25px;
  border-radius: 10px;
  text-align: left;
}

form h2 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 20px;
}


input, select {
  width: 340px;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

input:focus, select:focus {
  outline: none;
  border-color: #1f3a5f;
}


button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #1f3a5f;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #162c46;
}


#error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

#emailMsg{
color: red;
  font-size: 16px;
  margin-top: 5px;

}

h3{
    font-size: 20px;
    color: #35363d;

}